In [1]:
import pyspark

In [2]:
pyspark.__file__

'/home/carolina/spark/spark-3.3.2-bin-hadoop3/python/pyspark/__init__.py'

In [3]:
from pyspark.sql import SparkSession

In [4]:
# * represents all available CPUs, we could change for 2 CPUs eg

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/07/30 16:42:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/07/30 16:42:15 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-07-27 16:50:14--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 16.182.67.88, 16.182.38.112, 54.231.130.176, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|16.182.67.88|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2024-07-27 16:50:14 ERROR 403: Forbidden.

In [5]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [6]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [7]:
df.take(5)

[Row(LocationID='1', Borough='EWR', Zone='Newark Airport', service_zone='EWR'),
 Row(LocationID='2', Borough='Queens', Zone='Jamaica Bay', service_zone='Boro Zone'),
 Row(LocationID='3', Borough='Bronx', Zone='Allerton/Pelham Gardens', service_zone='Boro Zone'),
 Row(LocationID='4', Borough='Manhattan', Zone='Alphabet City', service_zone='Yellow Zone'),
 Row(LocationID='5', Borough='Staten Island', Zone='Arden Heights', service_zone='Boro Zone')]

In [8]:
df.head(5)

[Row(LocationID='1', Borough='EWR', Zone='Newark Airport', service_zone='EWR'),
 Row(LocationID='2', Borough='Queens', Zone='Jamaica Bay', service_zone='Boro Zone'),
 Row(LocationID='3', Borough='Bronx', Zone='Allerton/Pelham Gardens', service_zone='Boro Zone'),
 Row(LocationID='4', Borough='Manhattan', Zone='Alphabet City', service_zone='Yellow Zone'),
 Row(LocationID='5', Borough='Staten Island', Zone='Arden Heights', service_zone='Boro Zone')]

In [12]:
df.write.parquet("zones", mode="overwrite")

In [15]:
ls -lh

total 32K
-rw-rw-r-- 1 carolina carolina 6.0K Jul 23 17:38 test_pyspark.ipynb
-rw-rw-r-- 1 carolina carolina  20K Jul 23 17:36 titanic_clean.csv
drwxr-xr-x 2 carolina carolina 4.0K Jul 23 17:38 zones/

In [9]:
import pandas as pd

In [10]:
df_pandas = pd.read_csv("titanic_clean.csv")

In [11]:
df.schema
# spark sees everything as str

StructType([StructField('_c0', StringType(), True), StructField('Age', StringType(), True), StructField('Fare', StringType(), True), StructField('Parch', StringType(), True), StructField('Pclass', StringType(), True), StructField('SibSp', StringType(), True), StructField('Survived', StringType(), True)])

In [12]:
df_pandas.dtypes

Unnamed: 0      int64
Age           float64
Fare          float64
Parch           int64
Pclass          int64
SibSp           int64
Survived        int64
dtype: object

spark.createDataFrame(df_pandas)