In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/07/30 16:38:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green.registerTempTable('green')

/home/carolina/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [19]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00' and lpep_pickup_datetime < '2021-09-01 00:00:00'
GROUP BY
    1, 2
""")

In [11]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-28 19:00:00| 134|193.61000000000007|            17|
|2020-01-22 19:00:00|  65| 657.0300000000001|            41|
|2020-01-27 08:00:00|  17|             85.56|             4|
|2020-01-02 09:00:00|  66|229.39999999999998|            12|
|2020-01-02 12:00:00|  89|310.28000000000003|            14|
|2020-01-07 12:00:00|  66|             179.5|             9|
|2020-01-03 08:00:00| 223|165.90000000000003|             9|
|2020-01-17 10:00:00|  41| 638.2699999999999|            49|
|2020-01-02 11:00:00|  26|             198.6|             7|
|2020-01-12 20:00:00| 247|36.900000000000006|             3|
|2020-01-12 15:00:00|  10|             75.92|             1|
|2020-01-24 04:00:00| 129|148.89000000000001|            13|
|2020-01-04 20:00:00|  25| 369.5700000000001|            23|
|2020-01-22 10:00:00|  74|1179.0599999999988|            83|
|2020-01-13 18:00:00|  92|207.02000000000004|            11|
|2020-01-19 11:00:00| 218|            181.16|             5|
|2020-01-26 12:00:00|  35|257.03000000000003|             8|
|2020-01-30 06:00:00|  75|            282.63|            19|
|2020-01-04 22:00:00|  83|            298.16|            15|
|2020-01-06 21:00:00| 129|288.02000000000004|            14|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [20]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [12]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.registerTempTable('yellow')

In [21]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    (tpep_pickup_datetime >= '2020-01-01 00:00:00') and (tpep_pickup_datetime < '2021-09-01 00:00:00')
GROUP BY
    1, 2
""")

In [22]:
df_yellow_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-03 03:00:00|  97|             16.05|             2|
|2020-02-28 17:00:00| 237|12626.200000000032|           799|
|2020-01-24 07:00:00| 164|1696.7799999999988|           124|
|2020-01-09 01:00:00| 188|122.71000000000001|             3|
|2020-01-05 02:00:00| 163|1444.6499999999996|            92|
|2020-01-17 01:00:00| 186|1600.5599999999993|            86|
|2020-03-08 15:00:00| 158|2283.1299999999997|           126|
|2020-05-12 23:00:00| 170|             50.86|             3|
|2020-04-11 16:00:00|  43|            148.82|            10|
|2020-02-14 01:00:00|  48| 4124.329999999999|           198|
|2020-01-19 12:00:00| 230| 7282.190000000011|           382|
|2020-01-04 14:00:00| 249|2817.4199999999983|           180|
|2020-02-28 22:00:00| 164| 6467.810000000009|           363|
|2020-03-02 04:00:00| 113|            139.44|             7|
|2020-02-04 21:00:00|  79| 5068.610000000001|           302|
|2020-01-18 08:00:00| 229|1851.2699999999993|           120|
|2020-04-01 03:00:00| 238| 57.75999999999999|             4|
|2020-04-01 03:00:00|  68|             14.16|             1|
|2020-01-02 09:00:00| 186| 5329.010000000004|           338|
|2020-04-22 12:00:00| 236|346.99000000000007|            25|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [23]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

In [2]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [3]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [4]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [5]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [6]:
df_join = spark.read.parquet('data/report/revenue/total')

In [7]:
df_join

DataFrame[hour: timestamp, zone: int, green_amount: double, green_number_records: bigint, yellow_amount: double, yellow_number_records: bigint]

In [11]:
df_zones = spark.read.parquet('zones/')

In [12]:
df_zones

DataFrame[LocationID: string, Borough: string, Zone: string, service_zone: string]

In [13]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [14]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')